<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../resources/plugins/editormd/css/editormd.min.css" />
    <!-- 引入样式 -->
    <link rel="stylesheet" href="../resources/plugins/elementui/index.css">
    <link rel="stylesheet" href="../resources/plugins/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="../resources/css/style.css">
    <script>
        function getUrlParam(paraName) {
            var url = document.location.toString();
            //alert(url);
            var arrObj = url.split("?");
            if (arrObj.length > 1) {
                var arrPara = arrObj[1].split("&");
                var arr;
                for (var i = 0; i < arrPara.length; i++) {
                    arr = arrPara[i].split("=");
                    if (arr != null && arr[0] == paraName) {
                        return arr[1];
                    }
                }
                return "";
            }
            else {
                return "";
            }
        }
    </script>
</head>
<body>
<div id="app">
    <div class="content-header">
        <h1>后台管理<small>分类管理</small></h1>
        <el-breadcrumb separator-class="el-icon-arrow-right" class="breadcrumb">
            <el-breadcrumb-item :to="{ path: '/' }">首页</el-breadcrumb-item>
            <el-breadcrumb-item>后台管理</el-breadcrumb-item>
            <el-breadcrumb-item>分类管理是</el-breadcrumb-item>
        </el-breadcrumb>
    </div>
<el-form :model="formData" label-width="100px" size="small">
    <el-form-item label="标题" >
        <el-input v-model="formData.articleTitle" style="width: 80%"></el-input>
        <el-button type="primary" @click="post">保存</el-button>
    </el-form-item>
    <el-form-item label="摘要" >
        <el-input v-model="formData.articleSummary" style="width: 80%">></el-input>
    </el-form-item>
    <el-form-item label="正文"> <input type="button" onclick="xx()"/>
        <div id="editor">
            <!-- Tips: Editor.md can auto append a `<textarea>` tag -->
            <textarea style="display:none;" id="content">{{articleContent}}</textarea>
            <textarea class="editormd-html-textarea" name="text" id="htmlContent"></textarea>
        </div>
    </el-form-item>
</el-form>
</div>

<script src="../resources/js/jquery.min.js"></script>
<script src="../resources/plugins/editormd/editormd.min.js"></script>
<!-- 引入组件库 -->
<script src="../resources/js/vue.js"></script>
<script src="../resources/plugins/elementui/index.js"></script>
<script type="text/javascript" src="../resources/js/jquery.min.js"></script>
<script src="../resources/js/axios-0.18.0.js"></script>



<script type="text/javascript">

    var id=getUrlParam("id");
    var vue;

    function xx(){

        var testEditor = editormd("editor", {
            width: "98%",
            height: 500,
            markdown : "",
            path : '../resources/plugins/editormd/lib/',
            //dialogLockScreen : false,   // 设置弹出层对话框不锁屏，全局通用，默认为 true
            //dialogShowMask : false,     // 设置弹出层对话框显示透明遮罩层，全局通用，默认为 true
            //dialogDraggable : false,    // 设置弹出层对话框不可拖动，全局通用，默认为 true
            //dialogMaskOpacity : 0.4,    // 设置透明遮罩层的透明度，全局通用，默认值为 0.1
            //dialogMaskBgColor : "#000", // 设置透明遮罩层的背景颜色，全局通用，默认为 #fff
            imageUpload : true,
            imageFormats : ["jpg", "jpeg", "gif", "png", "bmp", "webp"],
            imageUploadURL : "/post/upload",

            /*
             上传的后台只需要返回一个 JSON 数据，结构如下：
             {
                success : 0 | 1,           // 0 表示上传失败，1 表示上传成功
                message : "提示的信息，上传成功或上传失败及错误信息等。",
                url     : "图片地址"        // 上传成功时才返回
             }
             */
            onload: function() {

            }
        });
    }




    vue = new Vue({
        el:"#app",
        data:{
            formData:{},
            options:[],//分类项
            value:[], //获取选中的分类
            articleContent:""
        },
        methods:{
            findArticle(){


                    axios.get("/article/findById?id=" + id).then((response) => {
                        this.formData = response.data.data;
                        // document.getElementById("content").innerText= response.data.data.articleContent;
                        //$("#content").val(response.data.data.articleContent);
                        this.articleContent = response.data.data.articleContent;

                    })


            },
            post(){ //发表文章
                this.formData.articleContent=$("#content").val();
                axios.post("/article/update",this.formData).then((response)=>{
                    this.$message({
                        type:response.data.flag?"success":"error",
                        message:response.data.message
                    })
                })
            }
        },
        created(){
         this.findArticle();
        },
        mounted(){

        }
    })

</script>



</body>
</html>